body {
  margin: 0;
  padding: 0;
}

.header {
  background: #34A5DA;
  height: 80px;
  width: 100vw;
  display: flex;
  color: #222222;
  align-items: center;
}

.headerText {
  margin: 0;
  margin-left: 20px;
  font-size: 20px;
}

.dataAndNavBarBox {
  background: #222222;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataBox {
  background: #EBEBEB;
  min-height: 300px;
  width: 90vw;
  margin-top: 90px;
}